# Environment Variables & Secrets
.env
.env.*
!.env.example
**/.env
**/.env.*
!**/.env.example

node_modules/
**/node_modules/
dist/
**/dist/
build/
**/build/
database/mongo_data/
*.log
.DS_Store
Thumbs.db
cloudflared.exe
backups/
scratch/

